:root {
    --normal: #797850;
    --fire: #ff6c00;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --poison: #A33EA1;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --ground: #ffb800;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #474751;
    --fairy: #D685AD;
    --lessNormal: rgba(168, 167, 122, 0.2);
    --lessFire: rgba(238, 129, 48, 0.2);
    --lessWater: rgba(99, 144, 240, 0.2);
    --lessElectric: rgba(247, 208, 44, 0.2);
    --lessGrass: rgba(122, 199, 76, 0.2);
    --lessPoison: rgba(163, 62, 161, 0.2);
    --lessIce: rgba(150, 217, 214, 0.2);
    --lessFighting: rgba(194, 46, 40, 0.2);
    --lessGround: rgba(226, 191, 101, 0.2);
    --lessFlying: rgba(169, 143, 243, 0.2);
    --lessPsychic: rgba(249, 85, 135, 0.2);
    --lessBug: rgba(166, 185, 26, 0.2);
    --lessRock: rgba(182, 161, 54, 0.2);
    --lessGhost: rgba(115, 87, 151, 0.2);
    --lessDragon: rgba(111, 53, 252, 0.2);
    --lessDark: rgba(112, 87, 70, 0.2);
    --lessSteel: rgba(183, 183, 206, 0.2);
    --lessFairy: rgba(214, 133, 173, 0.2);
}

.pokemonTeam.electric, .ability.electric, .move.electric {
    background-color: var(--electric) !important;
}

.pokemonTeam.fire, .ability.fire, .move.fire {
    background-color: var(--fire) !important;
}

.pokemonTeam.water, .ability.water, .move.water {
    background-color: var(--water) !important;
}

.pokemonTeam.grass, .ability.grass, .move.grass {
    background-color: var(--grass) !important;
}

.pokemonTeam.poison, .ability.poison, .move.poison {
    background-color: var(--poison) !important;
}

.pokemonTeam.ice, .ability.ice, .move.ice {
    background-color: var(--ice) !important;
}

.pokemonTeam.fighting, .ability.fighting, .move.fighting {
    background-color: var(--fighting) !important;
}

.pokemonTeam.ground, .ability.ground, .move.ground {
    background-color: var(--ground) !important;
}

.pokemonTeam.flying, .ability.flying, .move.flying {
    background-color: var(--flying) !important;
}

.pokemonTeam.psychic, .ability.psychic, .move.psychic {
    background-color: var(--psychic) !important;
}

.pokemonTeam.bug, .ability.bug, .move.bug {
    background-color: var(--bug) !important;
}

.pokemonTeam.rock, .ability.rock, .move.rock {
    background-color: var(--rock) !important;
}

.pokemonTeam.ghost, .ability.ghost, .move.ghost {
    background-color: var(--ghost) !important;
}

.pokemonTeam.dragon, .ability.dragon, .move.dragon {
    background-color: var(--dragon) !important;
}

.pokemonTeam.dark, .ability.dark, .move.dark {
    background-color: var(--dark) !important;
}

.pokemonTeam.steel, .ability.steel, .move.steel {
    background-color: var(--steel) !important;
}

.pokemonTeam.fairy, .ability.fairy, .move.fairy {
    background-color: var(--fairy) !important;
}

.pokemonTeam.normal, .ability.normal, .move.normal {
    background-color: var(--normal) !important;
}

.ability.electric, .move.electric {
    color: var(--electric) !important;
    background-color: var(--lessElectric) !important;
}

.ability.fire, .move.fire {
    color: var(--fire) !important;
    background-color: var(--lessFire) !important;
}

.ability.water, .move.water {
    color: var(--water) !important;
    background-color: var(--lessWater) !important;
}

.ability.grass, .move.grass {
    color: var(--grass) !important;
    background-color: var(--lessGrass) !important;
}

.ability.poison, .move.poison {
    color: var(--poison) !important;
    background-color: var(--lessPoison) !important;
}

.ability.ice, .move.ice {
    color: var(--ice) !important;
    background-color: var(--lessIce) !important;
}

.ability.fighting, .move.fighting {
    color: var(--fighting) !important;
    background-color: var(--lessFighting) !important;
}

.ability.ground, .move.ground {
    color: var(--ground) !important;
    background-color: var(--lessGround) !important;
}

.ability.flying, .move.flying {
    color: var(--flying) !important;
    background-color: var(--lessFlying) !important;
}

.ability.psychic, .move.psychic {
    color: var(--psychic) !important;
    background-color: var(--lessPsychic) !important;
}

.ability.bug, .move.bug {
    color: var(--bug) !important;
    background-color: var(--lessBug) !important;
}

.ability.rock, .move.rock {
    color: var(--rock) !important;
    background-color: var(--lessRock) !important;
}

.ability.ghost, .move.ghost {
    color: var(--ghost) !important;
    background-color: var(--lessGhost) !important;
}

.ability.dragon, .move.dragon {
    color: var(--dragon) !important;
    background-color: var(--lessDragon) !important;
}

.ability.dark, .move.dark {
    color: var(--dark) !important;
    background-color: var(--lessDark) !important;
}

.ability.steel, .move.steel {
    color: var(--steel) !important;
    background-color: var(--lessSteel) !important;
}

.ability.fairy, .move.fairy {
    color: var(--fairy) !important;
    background-color: var(--lessFairy) !important;
}

.ability.normal, .move.normal {
    color: var(--normal) !important;
    background-color: var(--lessNormal) !important;
}