.pokemonTeam {
    $cont-gap: 4px;

    max-width: calc(100% / 6 - $cont-gap * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--lightGray);
    background-color: var(--lightGray);
    border-radius: 5px;
    height: 100%;
    width: 15vw;
    cursor: pointer;

    img {
        max-height: 6.1em;
    }
}