.homepage-container {
    font-family: 'Pokemon Solid', sans-serif;
    background: linear-gradient(#f3f4f6, #dbeafe);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.homepage-content {
    text-align: center;
    padding: 4rem 1rem;
    color: #2e2e2e;

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.25rem;
    }
}  